body {
	font-family: "Helvetica Neue";
	font-weight: 300;
    background: #fff;
    margin:0;
}

#widget-root {
    max-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#widget-root > * {
    height: 100.1vh;
}
