<ul class="breadcrumb breadcrumb-dbe">
    <li ng-repeat="step in steps" class="{{step.styles | beautify}}">
        <a ng-click="refresh(step)" ng-if="!step.disabled">{{$index + 1}}.{{step.caption}}</a>
        <span ng-if="step.disabled">{{$index + 1}}.{{step.caption}}</span>
    </li>
</ul>
