<div class="form-group {{element.styles | beautify}}">

    <!-- Field label -->
    <label for="{{element.key}}" class="control-label"
           ng-if="!(element.dataType == 'boolean' && !element.multiValued && !element.hasDomain)">
        {{element.questionText}}
		<span class="fa-stack" ng-if="element.explainText" data-toggle="tooltip" data-placement="right" ng-if="element.explainText" tooltip="" element="element" >
			<i  class="fa fa-lg fa-circle-thin fa-stack-1x"></i>
			<i class="fa fa-info fa-stack-1x"></i>
		</span>
    </label>

    <!-- Field control -->
    <div ng-class="{'has-error':(element.messages.length > 0)}">

        <div class="row">
            <div class="col-sm-3 field-group" >
                <div bb-control element="element"></div>
            </div>
            <div class="col-sm-9 slider-group clearfix">
                <div class="input-group">
                <span class="slider-min input-group-addon hidden-xs">
                    <span ng-if="element.dataType === 'currency'">{{lookupMessage('defaultCurrency')}}</span>
                    {{(element.validations | filter:{type:'Number'})[0].parameters.minincl | number:0}}
                    <span ng-if="element.dataType === 'percentage'">%</span>
                </span>
                <div class="form-control"
                     slider=""
                     name="{{element.name}}"
                     min="(element.validations | filter:{type:'Number'})[0].parameters.minincl"
                     max="(element.validations | filter:{type:'Number'})[0].parameters.maxincl"
                     step="element.displayLength>0?element.displayLength/10:1"
                     sliderid="element.key"
                     ng-model="element.values[0]"
                     handle="'square'"
                     on-stop-slide="refresh(element)"
                     ng-required="element.required"
                     ng-disabled="element.disabled || element.readonly"
                     novalidate ></div>
                    <span class="slider-max input-group-addon hidden-xs">
                        <span ng-if="element.dataType === 'currency'">{{lookupMessage('defaultCurrency')}}</span>
                        {{(element.validations | filter:{type:'Number'})[0].parameters.maxincl | number:0}}
                        <span ng-if="element.dataType === 'percentage'">%</span>
                    </span>
                </div>

                <span class="slider-min visible-xs-inline pull-left">
                    <span ng-if="element.dataType === 'currency'">{{lookupMessage('defaultCurrency')}}</span>
                    {{(element.validations | filter:{type:'Number'})[0].parameters.minincl | number:0}}
                    <span ng-if="element.dataType === 'percentage'">%</span>
                </span>

                <span class="slider-max visible-xs-inline pull-right">
                    <span ng-if="element.dataType === 'currency'">{{lookupMessage('defaultCurrency')}}</span>
                    {{(element.validations | filter:{type:'Number'})[0].parameters.maxincl | number:0}}
                    <span ng-if="element.dataType === 'percentage'">%</span>
                </span>
            </div>
        </div>

        <div  id="{{element.name}}-error" ng-if="element.messages.length > 0" class="help-block form-error">
            {{element | constructErrorMessage:formFunctions}}
        </div>
    </div>
</div>
