<!DOCTYPE html>
<html ng-app="my-form">
<head>
	<title>Forms UI Example Page</title>
	<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.css">

	<!--[if lt IE 9]>
	<script src="/bower_components/es5-shim/es5-shim.min.js"></script><![endif]-->

	<!--libs-->
	<script src="/bower_components/angular/angular.js"></script>
	<script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
	<!--
 	<script src="/bower_components/angular-animate/angular-animate.js"></script>

	<script src="/bower_components/angular-strap/dist/angular-strap.js"></script>
	<script src="/bower_components/angular-strap/dist/angular-strap.tpl.js"></script>-->

	<!-- Forms UI -->
	<script src="/src/angular/module.js"></script>

	<script src="/src/angular/conf/ui-rules.js"></script>
	<script src="/src/angular/conf/messages.js"></script>

	<script src="/src/angular/services/delta-service.js"></script>
	<script src="/src/angular/services/session-service.js"></script>
	<script src="/src/angular/services/model-service.js"></script>
	<script src="/src/angular/services/form-factory.js"></script>
	<script src="/src/angular/services/form-util.js"></script>

	<script src="/src/angular/filters/constructErrorMessage.filter.js"></script>
	<script src="/src/angular/filters/formatContentItem.filter.js"></script>
	<script src="/src/angular/filters/beautify.filter.js"></script>

	<script src="/src/angular/directives/form.directive.js"></script>
	<script src="/src/angular/directives/element.directive.js"></script>
	<script src="/src/angular/directives/control.directive.js"></script>

	<!-- Minified version -->
	<!--<script src="/dist/forms-angular-ui.min.js"></script>-->

	<script>
		var formsUi = angular.module('forms-ui');
		//formsUi.value('templateBase', '/dist/templates');

		var myControlRules = [{
			template: 'my-controls/slider.html',
			test: function(el) {
				return el.styles && el.styles.indexOf('slider') > -1;
			}
		}];

		formsUi.config(function($provide, $logProvider) {
			var debug = true;
			$logProvider.debugEnabled(debug);
			$provide.value('debugEnabled', debug);

			$provide.decorator('uiRules', function($delegate) {
				var uiRules = $delegate;
				uiRules.controls.concat(myControlRules);
				return uiRules;
			});
		});
		angular.module('my-form', [ 'forms-ui' ])
			.controller('ExampleFormController', function($scope, $window) {
				$scope.project = $window.localStorage.getItem('project') || 'export-UiTest';
				$scope.flow = $window.localStorage.getItem('flow') || 'Start';
				$scope.version = $window.localStorage.getItem('version') || '0.0-Trunk';
				$scope.lang = $window.localStorage.getItem('lang') || 'en-GB';
				$scope.$watchCollection('[ project, flow, version, lang ]', function() {
					$window.localStorage.setItem('project', $scope.project);
					$window.localStorage.setItem('flow', $scope.flow);
					$window.localStorage.setItem('version', $scope.version);
					$window.localStorage.setItem('lang', $scope.lang);
				});
			});
	</script>
</head>
<body ng-controller="ExampleFormController">
<form class="form-inline">
	<div class="form-group">
		<label for="project">Project</label>
		<input type="text" class="form-control" id="project" placeholder="Project" ng-model="project">
	</div>
	<div class="form-group">
		<label for="flow">Flow</label>
		<input type="text" class="form-control" id="flow" placeholder="Flow" ng-model="flow">
	</div>
	<div class="form-group">
		<label for="version">Project</label>
		<input type="text" class="form-control" id="version" placeholder="Version" ng-model="version">
	</div>
	<div class="form-group">
		<label for="lang">Language</label>
		<input type="text" class="form-control" id="lang" placeholder="Language" ng-model="lang">
	</div>
</form>
<hr>
<div class="container">
	<bb-form
			runtime-url="'/Runtime'"
			project="project"
			flow="flow"
			version="version"
			language-code="lang"></bb-form>
</div>

</body>
</html>


