<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/xml; charset=UTF-8" />
    <link rel="stylesheet" href="styles/base.css" type="text/css" />
</head>

<body g:onload="requireWidget(__WIDGET__, 'scripts/main')" ng-controller="MainCtrl as mainCtrl" class="lp-mt-mobile-login">
sfghudejkrng
    <div class="panel-body">
        <form role="form" ng-submit="mainCtrl.authenticate(user)" novalidate="novalidate">
            <div class="form-group">
                <label class="sr-only" for="j_username">ID</label>
                <input class="form-control input-sm" type="text" name="j_username" placeholder="Username"
                       ng-model="user.username" ng-required="true"
                       autofill="autofill" autocorrect="off" autocapitalize="off"/>
            </div>
            <div class="form-group">
                <label class="sr-only" for="j_password">Password</label>
                <input class="form-control input-sm" type="password" name="j_password" placeholder="Password" ng-model="user.password" ng-required="true" autofill="autofill"/>
            </div>
            <div class="pull-right">
                <button type="submit" class="btn btn-sm btn-primary">Sign in</button>
            </div>
        </form>
    </div>
</body>
</html>
