<div class="bbform" ng-class="{'bbform-loading': loading, 'bbform-refreshing': refreshing}">

    <div class="bbform-indicator"></div>

    <div error="formError"></div>

    <form onsubmit="return false" name="form" ng-if="!formError" novalidate="">
        <div bb-element element-ref="{{getRootElement().key}}"></div>
    </form>

</div>
