<div class="{{element.styles | beautify}}" id="{{element.name | beautify}}">

    <i ng-class="{
        'fa fa-check' : hasStyle(element, 'alert_success')
    }"></i>

    <div class="alert-text" bb-element ng-repeat="elementRef in element.children" element-ref="{{elementRef}}"></div>
</div>