<div class="explain-item {{element.styles | beautify}}"
     id="{{element.name | beautify}}"
    data-explain-text="{{lookupElement(lookupElement(element.children[0]).children[0]).nodes|formatContentItem}}">

    <div bb-element element-ref="{{element.children[1]}}"></div>
</div>