<fieldset class="{{element.styles | beautify}}" id="{{element.name | beautify}}">
	<h6 ng-show="element.displayName">{{element.displayName}}</h6>
	<div bb-element ng-repeat="elementRef in element.children" element-ref="{{elementRef}}"></div>
</fieldset>
