<div class="form-container">
    <h4 class="container-display-name ng-binding ng-scope" ng-if="element.displayName">{{element.displayName}}</h4>

    <div file-upload="" element="element"></div>
</div>