<div class="modal fade {{element.styles | beautify}}"
     element="element" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" ng-show="element.displayName">{{element.displayName}}</h4>
            </div>
            <div class="modal-body">
                <div bb-element element-ref="{{element.children[0]}}"></div>
            </div>
            <div class="modal-footer">
                <div bb-element element-ref="{{element.children[1]}}"></div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->