<div class="media bb-media">
    <div class="media-body">
        <div bb-element element-ref="{{element.children[0]}}"></div>
    </div>
    <div class="media-icon media-right media-middle">
        <div bb-element element-ref="{{element.children[1]}}"></div>
    </div>
</div>