<div class="panel panel-default {{element.styles | beautify}}">

    <div class="panel-heading" ng-show="element.displayName">
        {{element.displayName}}
        <div bb-element element-ref="{{element.children[0]}}"></div>
    </div>

    <div class="panel-body">
        <div bb-element element-ref="{{element.children[1]}}"></div>
    </div>

    <div class="panel-footer" ng-if="element.children[2]">
        <div bb-element element-ref="{{element.children[2]}}"></div>
    </div>

    <div class="panel-disable" ng-if="!hasStyle(element, 'BB_Active')"></div>
</div>