<div class="bbform-contentitem table-responsive">
	<table class="table">
		<thead>
			<tr bb-element
				ng-repeat="elementRef in element.children"
				element-ref="{{elementRef}}"
				ng-if="lookupElement(elementRef).children.length > 0 && lookupElement(elementRef).contentStyle == 'TableHeader'">
			</tr>
		</thead>
		<tbody>
			<tr bb-element
				ng-repeat="elementRef in element.children"
				element-ref="{{elementRef}}"
				ng-if="lookupElement(elementRef).children.length > 0 && lookupElement(elementRef).contentStyle != 'TableHeader'">
			</tr>
		</tbody>
	</table>
</div>