<div class="source_subhead">
  <h1>Bootstrap UI collection</h1>
</div>

<div class="source_info">
    <p>Bootstrap</p>
    <p>Version: 3.3.0</p>
</div>
<p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile first projects on the web.</p>

<p>It is used as a third-party dependency in Backbase UI. Please follow the links below to get more information about it.</p>
<a class="source_a_hl" href="http://getbootstrap.com/">Bootstrap project home page</a>
<br/>
<a class="source_a_hl" href="https://github.com/twbs/bootstrap/tree/v3.3.0">Bootstrap repository (GitHub)</a>

