
.sticky {
    position: fixed;
    position: -webkit-sticky;
    top:0;
    z-index: 10;
    width: 100vw;
}

.head {
    margin: 0;
    padding-bottom: .1em;
    text-align: center;
    background:  -webkit-linear-gradient(top, rgba(18,55,91,1) 0%,rgba(47,90,129,1) 27%,rgba(125,185,232,0.61) 100%);
}

.filter {
    width: 90vw;
    margin: 1em auto;
    display: block;
    padding: 1em;;
}

.hn-items {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: .2em;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hn-item {
  position: relative;
  margin: .1em;
  padding: .8em 1em;
  background: #eee;
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.hn-item:hover {
  background: #ccc;
}
.hn-item a {
  text-decoration: none;
}
.hn-item a:visited{
  opacity: .1;
}

.hn-items {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.hn-items.loading {
  opacity: 0.1;
  transition: opacity 200ms ease-in;
}

