<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/xml; charset=UTF-8" />
    <meta http-equiv="Content-Type" content="text/xml; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <!-- externals -->
    <link rel="stylesheet" href="$(contextRoot)/static/features/[BBHOST]/ionic/release/css/ionic.min.css" />
    <script src="$(contextRoot)/static/features/[BBHOST]/angular/angular.min.js"></script>
    <!-- widget -->
    <link rel="stylesheet" href="styles/index.css" type="text/css" />
    <script src="scripts/index.js" charset="utf-8"></script>
</head>

<body g:onload="window.widgetGwtLogout(__WIDGET__, []).bootstrap()" ng-controller="MainCtrl as mainCtrl" class="lp-mt-mobile-logout" ng-cloak="">
    <div class="card">
        <div class="item item-text-wrap">
            <button ng-click="mainCtrl.logout()" class="button button-full button-positive">Logout</button>
        </div>
    </div>
</body>

</html>
