<label class="control-label in-line-to-field" ng-if="element.styles.indexOf('in_line_to_field') > -1">&nbsp;</label>
<button class="btn {{element.styles | beautify}}"
		name="{{element.name}}"
		id="{{element.key}}"
		type="button"
		ng-disabled="element.disabled"
		ng-click="refresh(element)">{{element.caption}}</button>
