<div class="form-container {{element.styles | beautify}}" data-name="{{element.name}}">
	<h4 class="container-display-name" ng-if="element.displayName && element.contentStyle!='instance_linker'">{{element.displayName}}</h4>
	<div bb-element ng-repeat="elementRef in element.children" element-ref="{{elementRef}}"></div>
</div>
