<div id="{{element.key}}" class="form-group {{element.styles | beautify}}" data-attribute="{{element.name}}">

	<!-- Field label -->
	<label for="{{element.key}}" class="control-label"
		   ng-if="element.questionText.length && !(element.dataType == 'boolean' && !element.multiValued && !element.hasDomain)">
		{{element.questionText}}
		<span class="fa-stack" ng-if="element.explainText" data-toggle="tooltip" data-placement="right" ng-if="element.explainText" tooltip="" element="element" >
			<i  class="fa fa-lg fa-circle-thin fa-stack-1x"></i>
			<i class="fa fa-info fa-stack-1x"></i>
		</span>
	</label>

	<!-- Field control -->
	<div ng-class="{'has-error':(element.messages.length > 0)}" class="field-control">

		<div bb-control element="element"></div>

		<div  id="{{element.name}}-error" ng-if="element.messages.length > 0" class="help-block form-error">
			{{element | constructErrorMessage:formFunctions}}
		</div>
	</div>
</div>
