<div class="{{element.contentStyle}}">
	<div class="form-header">
		<h1>{{element.displayName}}</h1>
	</div>
	<div ng-if="element.messages.length > 0" class="col-sm-12">
		<div class="alert alert-warning">
			{{element | constructErrorMessage:formFunctions}}
		</div>
	</div>
	<div class="form-content" ng-if="element.children.length">
		<div bb-element ng-repeat="elementRef in element.children" element-ref="{{elementRef}}"></div>
	</div>
</div>
