<div class="bbform-contentitem">
	<table class="table table-responsive">
		<tbody>
			<tr bb-element
				ng-repeat="elementRef in element.children"
				element-ref="{{elementRef}}"
				ng-if="lookupElement(elementRef).children.length > 0">
			</tr>
			<!--<tr ng-repeat="row in element.children" ng-if="element.children.length > 0">-->
				<!--<td ng-repeat="cell in lookupElement(row).children" ng-if="lookupElement(cell).children.length > 0">-->
					<!--<p ng-repeat="content in lookupElement(cell).children" ng-if="lookupElement(content).nodes.length > 0"-->
					   <!--ng-bind-html="lookupElement(content).nodes | formatContentItem" ></p>-->
				<!--</td>-->
			<!--</tr>-->
		</tbody>
	</table>
</div>