html {

}

body {
    padding-bottom: 2em;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    height: 100vh;

}

.nextNav {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    margin: 0;
    padding: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.nextNav li {
    list-style: none;
    -webkit-flex: auto;
    flex: auto;
    border-right: 1px solid #999;
}

.nextNav li:last-child {
    border-right: none;
}

.nextNav li a {
    color: rgb(255, 255, 255);
    padding: .3em;
    display: block;
    text-align: center;
    -webkit-transition: background-color 50ms ease-in;
}

.nextNav li a:hover {
    background-color: rgb(255, 87, 0);
}

img {
    max-width: 100%;
}

.nextApps {
    max-width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
}

.nextApps > .nextApp {
    /*display: none;*/
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    transform: translate3d(100vw, 0, 0);
    transition: all 100ms ease-in 10ms;
}

.nextApps > .nextApp.vis {
    /*display: block;*/
    transform: translate3d(0, 0, 0);
}

.next-settings {
    position: absolute;
    top:0;
    right: 0;
    z-index: 10000;
}


.next-settings-toogler, .next-settings-toogler:focus {
    background: none;
    border: none;
    outline:none;
}
.next-settings-input {
    display: none;
}

.vis .next-settings-input {
    display: block;
}