<div class="btn-group" data-toggle="buttons" >
    <label class="btn btn-primary"
           ng-class="{active:item.on}"
           ng-repeat="item in element.domain track by $index">
        <input type="checkbox"
               toggle-checkbox
               id="{{element.key +'-'+ $index}}"
               name="{{element.name}}"
               ng-change="refresh(element)"
               ng-model="item.on"
               ng-disabled="element.disabled || element.readonly" >{{item.displayValue}}
    </label>
</div>

