<div class="checkbox" ng-repeat="option in element.domain">
    <label>
        <input type="checkbox"
               checklist-model="element.values"
               checklist-value="option.value"
               id="{{element.key}}-{{$index}}"
               name="{{element.name}}"
               ng-change="refresh(element)"
               ng-disabled="{{element.disabled || element.readonly}}"
               ng-readonly="{{element.readonly}}">
        <i class="bb-checkbox-icon"/>
        {{option.displayValue}}
    </label>
</div>