<select class="form-control " name="{{element.name}}" id="{{element.key}}"
		ng-model="element.values[0]"
        ng-change="refresh(element)"
		ng-options="option.value as option.displayValue for option in element.domain"
		ng-disabled="{{ element.disabled || element.readonly || (element.messages[0].type != 'ERROR' && hasStyle(element, 'FormReadOnlyOnError')) }}"
		ng-readonly="{{ element.readonly }}">
	<option value=" " disabled=" ">{{lookupMessage('chooseOption')}}</option>
</select>