<div class="input-group">
	<input type="text"
		   class="form-control "
		   name="{{element.name}}"
		   id="{{element.key}}"
		   ng-blur="refresh(element)"
		   ng-model="element.values[0]"
		   ng-required="{{element.required}}"
		   ng-disabled="{{element.disabled}}"
		   ng-readonly="{{element.readonly}}"
		   maxlength="{{element.displayLength}}"
		   novalidate/>
	<span class="input-group-addon">%</span>
</div>