<div  class="checkbox">
	<label>
		<input type="checkbox"
			   id="{{element.key}}"
			   name="{{element.name}}"
			   ng-model="element.values[0]"
			   ng-true-value="true"
			   ng-false-value="false"
			   ng-change="refresh(element)"
			   ng-disabled="element.disabled || element.readonly"
			   ng-readonly="element.readonly">
        <h5 ng-if="element.explainText.length">{{element.questionText}}</h5>
        <span ng-if="!element.explainText.length">{{element.questionText}}</span>
        <span ng-if="element.explainText.length">{{element.explainText}}</span>
	</label>
</div>