<div class="btn-group"
     data-toggle="buttons" >
    <label class="btn btn-primary"
           ng-class="{active:item.on}"
           ng-repeat="item in element.domain track by $index">
        <input
            type="radio"
            toggle-radio
            name="{{element.key}}"
            id="{{element.key +'-'+ $index}}"
            ng-disabled="element.disabled || element.readonly"
            ng-model="element.values[0]"
            ng-change="refresh(element)"
            value="{{item.value}}">{{item.displayValue}}
    </label>
</div>

