<label class="radio-inline"
       ng-if="element.domain.length <= 2"
       ng-repeat="item in element.domain track by $index" >
    <input type="radio"
           name="{{element.name}}"
           id="{{element.key +'-'+ $index}}"
           ng-change="refresh(element)"
           ng-disabled="{{element.disabled || element.readonly}}"
           ng-model="element.values[0]"
           value="{{item.value}}">
    {{item.displayValue}}
</label>
<div class="radio"
     ng-if="element.domain.length > 2"
     ng-repeat="item in element.domain track by $index" >
    <label>
        <input type="radio"
               name="{{element.name}}"
               id="{{element.key +'-'+ $index}}"
               ng-change="refresh(element)"
               ng-disabled="element.disabled || element.readonly"
               ng-model="element.values[0]"
               value="{{item.value}}">
        {{item.displayValue}}
    </label>
</div>