<div class="lp-content-block lp-content-advanced">
    <!-- Copyright (C) 2011 Backbase B.V. -->
    <a href="{{link.path}}">{{text.content}}</a>
    <div class="image-panel">
        <img src="{{advContent.advTopImage.path}}" alt="" />
    </div>
    <div class="text-panel">
        <h4>{{advContent.header}}</h4>

        <div>{{{advContent.text}}}</div>
    </div>
</div>