<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">

<head>
    <title>widget-gwt-login</title>
    <meta http-equiv="Content-Type" content="text/xml; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <!-- externals -->
    <link rel="stylesheet" href="$(contextRoot)/static/features/[BBHOST]/ionic/release/css/ionic.min.css" />
    <script src="$(contextRoot)/static/features/[BBHOST]/angular/angular.min.js"></script>
    <!-- widget -->
    <link rel="stylesheet" href="src/styles/index.css" type="text/css" />
    <script src="src/scripts/index.js" charset="utf-8"></script>
</head>

<body g:onload="window.widgetGwtLogin(__WIDGET__, []).bootstrap()" ng-controller="MainCtrl as mainCtrl" class="widget-gwt-login" ng-cloak="">
<h1>Hello</h1>
    <div class="card">
        <form ng-if="mainCtrl.action === false" role="form list" ng-submit="mainCtrl.authenticate(user)" novalidate="novalidate" name="login">
            <div class="list list-inset">
                <label class="item item-input">
                    <input placeholder="Username" class="chiggle-input-text" type="text" ng-model="user.username" ng-required="true" autofill="autofill" autocorrect="off" autocapitalize="off"></input>
                </label>
                <label class="item item-input">
                    <input placeholder="Password" type="password" ng-model="user.password" ng-required="true" autofill="autofill" autocorrect="off" autocapitalize="off"></input>
                </label>
            </div>
            <button class="button button-full button-positive" disabled="true" ng-disabled="login.$invalid">Sign in</button>
        </form>
    </div>
</body>

</html>
