<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
    <title>Changelog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="styles/base.css" />
</head>
<body g:onload="requireWidget(__WIDGET__, 'scripts/main');" ng-controller="changelogController" ng-cloak="true">	

	<div class="changelog container-fluid">
		<div ng-repeat="version in changelog">
			<div class="version row" ng-click="versionClicked($index);">
				<div class="col-xs-11">
					<div class="date">{{ version.date }}</div>
					<div class="name">{{ version.name }}</div>
					<div class="notes">
						<span class="note" ng-repeat="item in version.summary | limitTo:3">
							<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> {{ item }}<br/>
						</span>
					</div>
				</div>
				<div class="arrow col-xs-1">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				</div>
			</div>
		</div>
	</div>

</body>
</html>