<div class="form-group">
    <label class="control-label" ng-if="element.displayName">
        {{element.displayName}}
    </label>

    <div ng-class="{'has-error':(element.messages.length > 0)}" class="field-control">
        <div ng-if="element.properties.singlefilemode" class="btn btn-success" ngf-select="upload($file)"
             ngf-max-size="{{maxFileSize}}" ng-model="file" name="file" ngf-pattern="{{allowedExtensions}}"
             accept="{{allowedExtensions}}">
            <i class="fa fa-plus"></i> {{element.properties.singleuploadlabel}}
        </div>
        <div ng-if="!element.properties.singlefilemode" class="btn btn-success" ngf-select="upload($files)"
             ngf-max-size="{{maxfilesize}}" ng-model="files" ngf-multiple="true" ngf-pattern="allowedExtensions"
             accept="allowedExtensions">
            <i class="fa fa-plus"></i> {element.properties.multiuploadlabel}}
        </div>
    </div>
</div> 

  
