<div class="btn-group"
     data-toggle="buttons" >
    <label class="btn btn-primary"
           ng-class="{active:item.on, disabled: element.readonly || element.disabled}"
           ng-repeat="item in element.domain track by $index">
        <input
                type="radio"
                toggle-radio
                name="{{element.name}}"
                id="{{element.key +'-'+ $index}}"
                ng-disabled="element.disabled || element.readonly"
                ng-model="element.values[0]"
                ng-change="refresh(element)"
                value="{{item.value}}"><i class="fa {{'fa-' + item.displayValue.toLowerCase()}}"></i>
    </label>
</div>

