<div class="input-group increment">
	<span class="input-group-addon" ng-click="decrease()"><i class="fa fa-minus-circle"></i></span>
	<input type="text"
		   class="form-control increment"
		   name="{{element.name}}"
		   id="{{element.key}}"
		   ng-blur="refresh(element)"
           ng-change="refresh(element)"
		   ng-model="element.values[0]"
		   parse-number=""
		   ng-required="{{element.required}}"
		   ng-disabled="{{element.disabled}}"
		   ng-readonly="{{element.readonly}}"
		   novalidate>
	<span class="input-group-addon" ng-click="increase()"><i class="fa fa-plus-circle"></i></span>
</div>

