<div class="checkbox" ng-class="element.disabled ? 'disabled' : ''">
    <label>
        <input type="checkbox"
               id="{{element.key}}"
               name="{{element.name}}"
               toggle-button=""
               element="element"
               ng-true-value="'true'"
               ng-false-value="'false'"
               ng-disabled="element.disabled"
               ng-readonly="element.readonly"
               ng-model="element.values[0]"
               ng-change="refresh(element)" >
    </label>
</div>