<div class="checkbox">
	<label>
		<input type="checkbox"
			   id="{{element.key}}"
			   name="{{element.name}}"
			   ng-model="element.values[0]"
			   ng-true-value="'true'"
			   ng-false-value="'false'"
			   ng-change="refresh(element)"
			   ng-disabled="element.disabled"
			   ng-readonly="element.readonly">
		<i class="bb-checkbox-icon"/>
		{{element.questionText}}
	</label>
</div>