<div class='input-group date'
           date-input=""
           element="element"
           ng-change="refresh(element)"
           ng-model="element.values[0]"
           format="'DD/MM/YYYY'">
    <input type='text'
           class="form-control"
           name="{{element.name}}"
           id="{{element.key}}"
           ng-required="{{element.required}}"
           ng-disabled="{{element.disabled}}"
           ng-readonly="{{element.readonly}}"
           novalidate />
    <span class="input-group-addon">
      <span class="fa fa-calendar"></span>
    </span>
</div>