<input ng-if="!hasStyleContaining(element,'bb_post_') && !hasStyleContaining(element,'bb_pre_')"
	type="number"
	class="form-control"
	name="{{element.name}}"
	id="{{element.key}}"
	parse-number=""
	ng-blur="refresh(element)"
	ng-model="element.values[0]"
	pattern="\d*"
	ng-required="{{element.required}}"
	ng-disabled="{{element.disabled}}"
	ng-readonly="{{element.readonly}}"
	novalidate >
<div class="input-group" ng-class="{post: hasStyleContaining(element,'bb_post_'), pre: hasStyleContaining(element,'bb_pre_')}" ng-if="hasStyleContaining(element,'bb_post_') || hasStyleContaining(element,'bb_pre_')">
	<span
		class="input-group-addon"
		ng-if="hasStyleContaining(element,'bb_pre_')">
		{{lookupMessage((stylesContaining(element,'bb_pre_')[0] | replace:'bb_pre_':''))}}
	</span>
	<input type="number"
		   class="form-control"
		   name="{{element.name}}"
		   id="{{element.key}}"
		   parse-number=""
		   ng-blur="refresh(element)"
		   ng-model="element.values[0]"
		   ng-required="{{element.required}}"
		   ng-disabled="{{element.disabled}}"
		   ng-readonly="{{element.readonly}}"
		   novalidate/>
	<span
		class="input-group-addon"
		ng-if="hasStyleContaining(element,'bb_post_')" >
		{{lookupMessage((stylesContaining(element,'bb_post_')[0] | replace:'bb_post_':''))}}
	</span>
</div>