<select class="form-control"
		name="{{element.name}}"
		id="{{element.key}}"
		ng-model="element.values"
		multiple="multiple"
		ng-change="refresh(element)"
		ng-options="option.value as option.displayValue for option in element.domain"
		ng-disabled="{{element.disabled || element.readonly}}"
		ng-readonly="{{element.readonly}}">
	<option value="">{{formFunctions.defaultOptionText}}</option>
</select>