<div class="row">
    <div class="col-sm-3 field-group">
        <div class="input-group" ng-if="element.dataType == 'currency' || element.dataType == 'percentage'">
            <span class="input-group-addon" ng-if="element.dataType == 'currency'">{{lookupMessage('defaultCurrency')}}</span>
            <input type="text"
                   class="form-control"
                   name="{{element.name}}"
                   id="{{element.key}}"
                   parse-number=""
                   ng-blur="refresh(element)"
                   ng-model="element.values[0]"
                   pattern="\d*"
                   ng-required="{{element.required}}"
                   ng-disabled="{{element.disabled}}"
                   ng-readonly="{{element.readonly}}"
                   maxlength="{{element.displayLength}}"
                   novalidate >
            <span class="input-group-addon" ng-if="element.dataType == 'percentage'">%</span>
        </div>
        <input ng-if="element.dataType != 'currency' && element.dataType != 'percentage'"
               type="number"
               class="form-control field-group"
               name="{{element.name}}"
               id="{{element.key}}"
               parse-number=""
               ng-blur="refresh(element)"
               ng-model="element.values[0]"
               pattern="\d*"
               ng-required="{{element.required}}"
               ng-disabled="{{element.disabled}}"
               ng-readonly="{{element.readonly}}"
               maxlength="{{element.displayLength}}"
               novalidate >
    </div>
    <div class="col-sm-9 slider-group">
        <div class="input-group">
            <span class="slider-min input-group-addon">
                <span ng-if="element.dataType === 'currency'">{{lookupMessage('defaultCurrency')}}</span>
                {{(element.validations | filter:{type:'Number'})[0].parameters.minincl}}
                <span ng-if="element.dataType === 'percentage'">%</span>
            </span>
            <div class="form-control"
                 slider=""
                 name="{{element.name}}"
                 id="{{element.key}}"
                 min="(element.validations | filter:{type:'Number'})[0].parameters.minincl"
                 max="(element.validations | filter:{type:'Number'})[0].parameters.maxincl"
                 step="element.displayLength>0?element.displayLength/10:1"
                 sliderid="element.key"
                 ng-model="element.values[0]"
                 handle="'square'"
                 on-stop-slide="refresh(element)"
                 ng-required="element.required"
                 ng-disabled="element.disabled"
                 ng-readonly="element.readonly"
                 novalidate ></div>
            <span class="slider-max input-group-addon">
                <span ng-if="element.dataType === 'currency'">{{lookupMessage('defaultCurrency')}}</span>
                {{(element.validations | filter:{type:'Number'})[0].parameters.maxincl}}
                <span ng-if="element.dataType === 'percentage'">%</span>
            </span>
        </div>
    </div>
</div>

