<p class="form-control-static"
   name="{{element.name}}"
   id="{{element.key}}" >
    <span ng-if="hasStyleContaining(element,'bb_pre_')">
		{{lookupMessage((stylesContaining(element,'bb_pre_')[0] | replace:'bb_pre_':''))}}
	</span>
	{{element.values[0]}}
    <span ng-if="hasStyleContaining(element,'bb_post_')" >
		{{lookupMessage((stylesContaining(element,'bb_post_')[0] | replace:'bb_post_':''))}}
	</span>
    <span ng-if="element.dataType=='currency'">
        {{lookupMessage('defaultCurrency')}}
    </span>
</p>
