<div class="refresh-container {{element.styles | beautify}}" id="{{element.name | beautify}}">
    <h4 class="container-display-name" ng-show="element.displayName">{{element.displayName}}</h4>
    <div bb-element ng-repeat="elementRef in element.children" element-ref="{{elementRef}}"></div>
</div>