<div class="lp-content-block lp-content-advanced">
    <div class="image-panel">
		<img src="{{advContent.advTopImage.path}}" alt="" />
	</div>
	<div class="image-panel">
		<img src="{{advContent.advBotImage.path}}" alt="" />
	</div>
	<div class="text-panel">{{{advContent.text}}}</div>
</div>