<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/xml; charset=UTF-8" />
    <link rel="stylesheet" href="styles/base.css" type="text/css" />
</head>

<body g:onload="requireWidget(__WIDGET__, 'scripts/main')" ng-controller="MainCtrl as mainCtrl" class="lp-mt-mobile-logout">

    <div class="panel-body text-center">
        <button ng-click="mainCtrl.logout()" class="btn btn-success">Logout</button>
    </div>
    <div class="panel-body text-center">
        <button ng-click="mainCtrl.gotoAnimals()" class="btn btn-success">gotoAnimals</button>
    </div>

</body>
</html>
