<div class="source_subhead">
  <h1>Angular UI collection</h1>
</div>

<div class="source_info">
    <p>Angular UI Bootstrap</p>
    <p>Version: 0.12.1</p>
</div>
<p>Bootstrap components written in pure AngularJS by the AngularUI Team. It contains a set of native AngularJS directives based on Bootstrap's markup and CSS. As a result no dependency on jQuery or Bootstrap's JavaScript is required.</p>
<p>To get more information please follow the links below.</p>
<a class="source_a_hl" href="http://angular-ui.github.io/bootstrap/">Angular UI (Bootstrap) home page</a>
<br/>
<a class="source_a_hl" href="https://github.com/angular-ui/bootstrap/tree/0.12.1">GitHub repository</a>
