<div class="{{element.styles | beautify}}"  id="{{element.name | beautify}}">
	<h6 ng-if="element.displayName && element.contentStyle != 'instance_linker'">{{element.displayName}}</h6>
	<div bb-element ng-repeat="elementRef in element.children" element-ref="{{elementRef}}"></div>
</div>