<div id="{{element.name | beautify}}"
     class="form-group {{element.styles | beautify}}"
     tooltip-dbe="" element="element"
     ng-class="{'has-error':(element.messages.length > 0)}">

    <!-- Field label -->
    <label for="{{element.key}}" class="control-label"
           ng-show="!(element.dataType == 'boolean' && !element.multiValued && !element.hasDomain)"
           ng-class="{'invisible' : element.questionText.length < 2, 'hide' : !element.questionText}">
           {{element.questionText}}

           <small class="opt" ng-show="!element.required">{{lookupMessage('optionalField')}}</small>
    </label>

    <!-- Field control -->
    <div bb-control element="element"></div>

    <div class="help-block">
        <div ng-repeat="m in element.messages">{{m.text}}</div>
    </div>
</div>
