<div class="loan-simulator">

    <div class="loan-simulator-configurator">

        <div class="loan-simulator-insurrance-promocode clearfix">
            <div bb-element element-ref="{{element.children[0]}}"></div>
        </div>

        <div class="loan-simulator-sliders row">
            <div bb-element element-ref="{{element.children[1]}}"></div>
        </div>
    </div>

</div>