<div class="loan-simulator-cost-label text-muted small">{{element.questionText}}</div>
<div class="loan-simulator-cost-value">
    <span class="value">{{element.values[0] | loanFilter:element.dataType}}</span>
    <small class="text-muted" ng-if="hasStyle(element, 'active')">/mese</small>
</div>