<div class="{{element.styles | beautify}}" slider-wrapper="">

    <h4>{{element.questionText}}</h4>

    <div>
        <slider ng-model="selected"
                min="0"
                max="element.domain.length - 1"
                formatter="formatValue"
                on-stop-slide="setValue"
                tooltip-show="tooltip"
                />
    </div>

    <div class="slider-buttons" data="element.domain" refresh="setValue"></div>

    <div class="slider-limits" domain="element.domain"></div>

</div>

