<div class="well well-dbe radius-sm loans-overview">

    <div class="row" ng-if="overview.length == 3">

        <div class="col-sm-4">
            <p class="field">
                <span class="field-label">{{overview[0].label}}</span>
                <span class="field-value">{{overview[0].value}}</span>
            </p>
        </div>

        <div class="col-sm-4">
            <p class="field">
                <span class="field-label">{{overview[1].label}}</span>
                <span class="field-value">{{overview[1].value}}</span>
            </p>
        </div>

        <div class="col-sm-4">
            <p class="field">
                <span class="field-label">{{overview[2].label}}</span>
                <span class="field-value">{{overview[2].value}}</span>
            </p>
        </div>

    </div>


    <div class="row" ng-if="overview.length > 3">
        <div class="row-height">
            <div class="col-sm-5 col-height col-middle">
                <p class="field">
                    <span class="field-label">{{overview[0].label}}</span>
                    <span class="field-value field-value-big">{{overview[0].value}}</span>
                </p>
                <p class="field">
                    <span class="field-label">{{overview[1].label}}</span>
                    <span class="field-value field-value-big">{{overview[1].value}} <span class="small">/ mese</span></span>
                </p>
            </div>

            <div class="col-sm-2 col-height col-middle">
                <p class="field text-center">
                    <span class="field-label">{{overview[2].label}}</span>
                    <span class="field-value field-value-big">{{overview[2].value}} mesi</span>
                </p>
            </div>

            <div class="col-sm-5 small col-height col-middle">
                <p class="field">
                    <span class="field-label">{{overview[3].label}}</span>
                    <span class="field-value">{{overview[3].value}}</span>
                </p>
                <p class="field">
                    <span class="field-label">{{overview[4].label}}</span>
                    <span class="field-value">{{overview[4].value}}</span>
                </p>
                <p class="field">
                    <span class="field-label">{{overview[5].label}}</span>
                    <span class="field-value">{{overview[5].value}}</span>
                </p>
            </div>
        </div>
    </div>
</div>



